version: '3.8'

services:
  app:
    build: .
    ports:
      - "80:12212"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
